
@font-face {
font-family: 'Proza Libre', 'Verdana', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Proza+Libre:400,600i,700");
}

body {
  background-color: #ffe6e6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Proza Libre', 'Verdana', sans-serif;
}

h1, h2 {
  color: #660000;
}

h1 {
  font-size: 28pt;
  font-weight: 700;
  padding-left: 400px;
  padding-top: 50px;
}

h2 {
  font-size: 20pt;
  font-weight: 600;
  font-style: italic;
  padding-left: 450px;
  margin-bottom: 75px;
}

h3 {
  color: #660000;
  margin-bottom: 50px;
  margin-top: 25px;
}

h4 {
  color: #cc0000;
  padding-left: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
}

h5 {
  color: #cc0000;
  padding-left: 50px;
  font-weight: 600;
  font-size: 11pt;
}

p {
  font-family: "Verdana", sans-serif;
}

a:link {
  color: #b30000;
}

a:visited {
  color: #660000;
}

a:hover {
  color: #ff0000;
}

a:active {
  color: #ff4d4d;
}

.container {
  width: 800px;
  margin: 0px auto;
}

ul, ol {
  padding-left: 100px;
  font-family: "Verdana", sans-serif;
}

.mark {
  height: 150px;
  float: left;
  padding-left: 175px;
  padding-top: 25px;
}

.curious-wombat {
  width: 800px;
  padding-top: 50px;
}

footer {
    width: 800px;
    position: center;
}
